<div class="container">
    <h1>Where would you like to go?</h1>

    <form>
        <div class="input-group">
            <input ng-model="user.username" 
                   name="search" 
                   id="search" 
                   type="text" 
                   placeholder="Search" 
                   class="form-control" />

            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Explore!</button>
            </span>
        </div>
        <!-- <button ng-click="logModel.login(user)" type="submit" class="btn btn-primary btn-block">Login</button>
        <a href="#/register" class="btn btn-success btn-block">Register</a> -->
    </form>
</div>