.profile {
	.bg { @include bgColor($ltePaleGrn); }
	.summary {
		padding: 0px 20px;
		position: relative;
		&__img {
			display: block;
			position: relative;
			top: -30px;
			height: 100px;
			width: 100px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto;
			img {
				@include posCenter(absolute, 50%, 50%);
				max-height: 100%;
			}
		}
		&__copy {
			text-align: center;
			&__username { font-weight: bold; }
			&__num-of-trips {}
			&__gender {}
			&__loc {}
		}
		&__edit {
			z-index: 1;
			position: absolute;
			right: 0;
			background-color: $white;
			width: 25px;
			border-bottom-left-radius: 10%;
			padding: 2px 5px;

		}
	}
	.in-progress {
		margin: 20px 0 40px;
		padding: 0px 15px 10px;
		&__title {
			color: $drkGreen;
			font-weight: bold;
		}
		&__latest {}
		&__cost {}
	}
	.upcoming {
		margin-bottom: 40px;
		&__title {
			color: $paleGreen;
			font-weight: bold;
		}
		&__trips {
			padding: 10px 15px;
			&__item {
				ul {
					li {}
				}
				h5 {}
				p {}
			}
		}
	}
	.planning {
		margin-bottom: 40px;
		&__title {
			color: $paleGreen;
			font-weight: bold;
		}
		&__plans {
			margin-bottom: 20px;
			&__item {
				padding: 10px 15px;
				position: relative;
				.menu {
					// position: absolute;
					// right: 0;
					li {
						display: inline-block;
						margin: 0px 5px;
					}
				}
			}
			h5 {
				font-weight: bold;
				display: block;
			}
			.plan-in-progress {
				li {
					a { color: $drkerGrn; }
					.glyphicon-ok { color: $paleGreen; }
					.glyphicon-remove { color: $red;}
				}
			}
		}
	}
	.past {
		margin-bottom: 40px;
		&__title {
			color: $paleGreen;
			font-weight: bold;
		}
		&__list {
			.trip {
				display: block;
				margin: 10px auto;
				background-color: $white;
				width: 100%;
				overflow: hidden;
				&:first-child { margin-top: 0; }
				&__img {
					display: block;
					width: 100%;
					position: relative;
					height: 100px;
					overflow: hidden;
					img {
						width: 100%;
						@include posCenter(absolute, 50%, 50%);
					}
				}
				&__copy {
					padding: 5px 15px 20px;
					&__title {}
					&__countries {
						display: block;
						&__item {
							display: inline-block;
							margin: 5px;
							&:first-child { margin-left: 0; }
						}
					}
					&__length {
						display: inline-block;
					}
					&__cost {
						display: inline-block;
						margin-left: 10px;
					}
				}
			}
		}
	}
}