.profile {
	.summary {
		&__img {
			display: block;
			width: 100%;
			position: relative;
			height: 100px;
			overflow: hidden;
			img {
				@include posCenter(absolute, 50%, 50%);
			}
		}
		&__name {}
		&__num-of-trips {}
		&__gender {}
		&__loc {}
	}
	.in-progress {
		&__title {}
		&__latest {}
		&__cost {}
	}
	.upcoming {
		&__title {}
		&__trips {
			&__item {
				ul {
					li {}
				}
				h5 {}
				p {}
			}
		}
	}
	.planning {
		&__title {}
		&__plans {
			&__item {
				.menu {
					li {}
				}
			}
			h5 {}
			.plan-progress {
				li {}
			}
		}
	}
	.past {
		&__title {}
		&__last {
			.trip {
				display: block;
				margin: 10px auto;
				background-color: $white;
				width: 100%;
				overflow: hidden;
				&:first-child { margin-top: 0; }
				&__img {
					display: block;
					width: 100%;
					position: relative;
					height: 100px;
					overflow: hidden;
					img {
						@include posCenter(absolute, 50%, 50%);
					}
				}
				&__copy {
					padding: 5px 15px 20px;
					&__title {}
					&__countries {
						display: block;
						&__item {
							display: inline-block;
							margin: 5px;
							&:first-child { margin-left: 0; }
						}
					}
					&__length {
						display: inline-block;
					}
					&__cost {
						display: inline-block;
						margin-left: 10px;
					}
				}
			}
		}
	}
}