.navbar {
	.navbar-header {
		position: relative;
		a { color: white; }
		.profile-icon {
			@include posCenter(absolute, 50%, 0%);
			right: 0;
		}
		&--green {
			a { color: $drkGreen; }
		}
	}
	@include respond-to($tablet) {
		.navbar-header { float: none; }
	}
}