<section class="container search" id="searchPage">
    <img class="bg-img" src="../../imgs/bamboo.JPG">
    <h1 class="title">Where would you like to go?</h1>

    <form>
        <div class="input-group">
            <div jga-search-auto model="model" class="ui-widget" id="searchTrips">

            <input ng-model="chosenPlace" 
                   name="search" 
                   id="search" 
                   type="text" 
                   placeholder="Search" 
                   class="form-control" />
            </div>

            <span class="input-group-btn">
                <button ng-click="model.search()" type="submit" class="btn btn-success">Explore!</button>
            </span>
        </div>
        <ul class="search__list list-unstyled">
          <li class="search__list__item" ng-repeat="query in model.queryList">{{query}}</li>
        </ul>
        <!-- <button ng-click="logModel.login(user)" type="submit" class="btn btn-primary btn-block">Login</button>
        <a href="#/register" class="btn btn-success btn-block">Register</a> -->
    </form>
</section>