<div class="container trip-review">
	<svg class="map"></svg>
	<section class="summary">
		<h2 class="summary__title">Walopee's Trip</h2>
		<ul class="summary__countries list-unstyled">
			<li class="summary__countries__item">
				<svg></svg>
				<span>Japan</span>
			</li>
			<li class="summary__countries__item">
				<svg></svg>
				<span>South Korea</span>
			</li>
			<li class="summary__countries__item">
				<svg></svg>
				<span>Thailand</span>
			</li>
		</ul>
		<div class="summary__length">27 days</div>
		<div class="summary__cities">14 cities</div>
		<ul class="summary__pack list-unstyled">
			<li class="summary__pack__item">2 shirts</li>
			<li class="summary__pack__item">2 pants</li>
			<li class="summary__pack__item">30oz water bottle</li>
			<li class="summary__pack__item">a sense of adventure</li>
			<li class="summary__pack__item">a sense of adventure</li>
			<li class="summary__pack__item">a sense of adventure</li>
		</ul>
		<svg class="summary__cost"></svg>
	</section>

	<section class="city">
		<img class="city__bg" src="../../../imgs/bamboo.jpg" />
		<span class="city__arrival-date">4/2/2017</span>
		<h3 class="city__name">San Francisco, California (USA)</h3>
		<svg class="city__rating"></svg>
		<ul class="city__activity list-unstyled">
			<li class="city__activity__item">
				<div class="img-container">
					<img src="../../../imgs/bamboo.jpg">
				</div>
				<span>Myeong-dong</span>
				<svg></svg>
			</li>
		</ul>
		<ul class="city__lodging list-unstyled">
			<li class="city__lodging__item">Guest House</li>
		</ul>
		<svg class="city__cost"></svg>
	</section>

	<section class="travel">
		<svg class="travel__icon"></svg>
		<div class="travel__airport">
			<p>Depart</p>
			<h3>San Francisco International Airport</h3>
			<p>Departure 1:20 pm</p>
		</div>
		<div class="travel__airport">
			<p>Arrival</p>
			<h3>Incheon International Airport</h3>
			<p>Arrival 7:20 pm (+1 day)</p>
		</div>
		<div class="travel__details">
			<p>Airline: Korean Air</p>
			<p>Ticket Price: $729</p>
		</div>
		<h3 class="travel__length">Travel Time: 11 hrs 56 mins</h3>
	</section>
</div>