<section class="container edit-plan-timeline">

    <h1 class="title">Choose or search for countries</h1>

    <form>
        <div class="input-group">
            <div jga-search-auto class="ui-widget">

            <input ng-model="user.username" 
                   name="search" 
                   id="search" 
                   type="text" 
                   placeholder="Search" 
                   class="form-control" />
            </div>

            <span class="input-group-btn">
                <button type="submit" class="btn btn-success">Explore!</button>
            </span>
        </div>
    </form>
</section>