<section class="container login" id="login">
    <img class="bg-img" src="../../imgs/bamboo.JPG">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <div class="panel panel-default">
        <form> 
            <label for="username">username</label>
            <input ng-model="user.username" 
            	   name="username" 
            	   id="username" 
            	   type="text" 
            	   placeholder="username" 
            	   class="form-control" />

            <label for="password">password</label>
            <input ng-model="user.password" 
            	   name="password" 
            	   id="password" 
            	   type="password" 
            	   placeholder="password" 
            	   class="form-control" />

            <!-- <button type="submit" class="btn btn-primary btn-block">Login</button>
            <button type="submit" class="btn btn-success btn-block">Register</button> -->
            <button ng-click="model.login(user)" type="submit" class="btn btn-primary btn-block">Login</button>
            <a href="/auth/facebook" class="btn btn-primary btn-block">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>
            <a href="#!/register" class="btn btn-success btn-block">Register</a>
        </form>
    </div>
</section>