<div class="container profile">
	<section class="summary">
		<div class="summary__img">
			<img src="../../../imgs/bamboo.jpg">
		</div>
		<p class="summary__name">Walopee</p>
		<p class="summary__num-of-trips">Walopee</p>
		<p class="summary__gender">Walopee</p>
		<p class="summary__loc">Walopee</p>
	</section>

	<section class="in-progress">
		<h3 class="in-progress__title">Trip in Progress</h3>
		<p class="in-progress__latest">
			Latest: <span>Tokyo, Japan</span>
		</p>
		<p class="in-progress__cost">$2,124</p>
	</section>

	<section class="upcoming">
		<h3 class="upcoming__title">Upcoming Trips</h3>
		<ul class="upcoming__trips list-unstyled">
			<li class="upcoming__trips__item">
				<ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</li>
					<li>
						<span class="glyphicon glyphicon-remove"></span>
						Delete
					</li>
				</ul>
				<h5>Southeast Asia Trip</h5>
				<p>July 18th, 2017</p>
				<p>Cambodia, Thailand, Vietnam</p>
				<p>SFO -> REP</p>
				<p>Depart 8:40 am</p>
				<p>Arrive 7:40 pm</p>
			</li>
		</ul>
	</section>

	<section class="planning">
		<h3 class="planning__title">Upcoming Trips</h3>
		<ul class="planning__plans list-unstyled">
			<li class="planning__plans__item">
				<ul class="menu list-unstyled">
					<li>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</li>
					<li>
						<span class="glyphicon glyphicon-remove"></span>
						Delete
					</li>
				</ul>
				<h5>Southeast Asia Trip</h5>
				<ul class="plan-in-progress list-unstyled">
					<li>
						<span class="glyphicon glyphicon-ok"></span>
						Countries
					</li>
					<li>
						<span class="glyphicon glyphicon-remove"></span>
						Lodging
					</li>
					<li>
						<span class="glyphicon glyphicon-ok"></span>
						Interests
					</li>
					<li>
						<span class="glyphicon glyphicon-ok"></span>
						Route
					</li>
					<li>
						<span class="glyphicon glyphicon-remove"></span>
						Timeline
					</li>
				</ul>
			</li>
		</ul>
	</section>

	<section class="past">
		<h3 class="past__title">Past Adventures</h3>
		<ul class="past__list list-unstyled"> <!-- ng-repeat="trip in model.tripList" -->
			<li class="trip">
				<div class="trip__img"><img src="../../../imgs/bamboo.JPG"></div>
				<div class="trip__copy">
					<h4 class="trip__copy__title">Walopee's Trip</h4>
					<ul class="trip__copy__countries list-unstyled"> <!-- ng-repeat="country in model.countryList" -->
						<li class="trip__copy__countries__item">Japan</li>
						<li class="trip__copy__countries__item">South Korea</li>
						<li class="trip__copy__countries__item">Thailand</li>
					</ul>
					<div class="trip__copy__length">27 days</div>
					<div class="trip__copy__cost">$3,609</div>
				</div>
			</li>
		</ul>
	</section>
</div>