<div class="container profile" id="profile">
	<div class="bg"></div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    
	<section class="summary panel clearfix">
		<div class="summary__edit">
            <a href="#!/user/{{model.userId}}/edit">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
		<div class="summary__img">
			<img src="../../../imgs/bamboo.jpg">
		</div>
		<div class="summary__copy">
			<p class="summary__copy__username">{{model.user.username}}</p>
			<p class="summary__copy__num-of-trips">{{model.trips.length}} trips</p>
			<p class="summary__copy__gender">{{model.user.gender}}</p>
			<p class="summary__copy__loc">{{model.user.hometown}}</p>
		</div>
	</section>
	<button ng-click="model.logout()" class="btn btn-primary btn-block">Logout</button>

	<!-- <section class="in-progress panel panel-default">
		<h3 class="in-progress__title">Trip in Progress</h3>
		<p class="in-progress__latest">
			Latest: <span>Tokyo, Japan</span>
		</p>
		<p class="in-progress__cost">$2,124</p>
		<button class="btn btn-primary btn-block">Start a Trip!</button>
	</section> -->

	<section class="upcoming">
		<h3 class="upcoming__title">Upcoming Trips</h3>
		<ul class="upcoming__trips list-unstyled panel panel-default">
			<li class="upcoming__trips__item" ng-repeat="trip in model.trips | filter:{state: 'UPCOMING'}">
				<a href="#!/user/{{model.userId}}/trip/{{trip._id}}">View Trip</a>
				<!-- <ul class="list-unstyled">
					<li>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</li>
					<li>
						<span class="glyphicon glyphicon-remove"></span>
						Delete
					</li>
				</ul> -->
				<h5>{{trip.name}}</h5>
				<p>{{model.formatDate(trip.start).getMonth()}}/{{model.formatDate(trip.start).getDate()}}/{{model.formatDate(trip.start).getFullYear()}}</p>
				<span ng-repeat="country in trip.countries.list">{{country.name}} </span>
				<!-- <p>SFO -> REP</p>
				<p>Depart 8:40 am</p>
				<p>Arrive 7:40 pm</p> -->
				<button ng-click="model.markComplete(trip)" class="btn btn-primary btn-block">Adventured!</button> <!-- this is for testing purposes -->
			</li>
		</ul>
	</section>

	<section class="planning">
		<h3 class="planning__title">Trips in Planning</h3>
		<ul class="planning__plans list-unstyled">
			<li class="planning__plans__item panel panel-default" ng-repeat="trip in model.trips | filter:{state: 'PLANNING'}">
				<ul class="menu list-unstyled">
					<!-- <li>
						<span class="glyphicon glyphicon-pencil"></span>
						Edit
					</li> -->
					<li>
						<button ng-click="model.deleteTrip(trip._id)" class="btn btn-link link-primary">
							<span class="glyphicon glyphicon-minus"></span>
							Delete
						</button>
					</li>
					<li ng-show="model.isComplete(trip)">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}" class="btn btn-primary">
							 Review Trip
						</a>
					</li>
				</ul>
				<h5>{{trip.name}}</h5>
				<ul class="plan-in-progress list-unstyled">
					<li ng-switch="trip.countries.status" class="col-xs-6">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}/edit-plan-country">
							<span ng-switch-when="INPROGRESS" 
								  class="glyphicon glyphicon-remove"></span>
							<span ng-switch-when="COMPLETE" 
								  class="glyphicon glyphicon-ok"></span>
							Countries
						</a>
					</li>
					<!-- <li ng-switch="trip.lodging.status" class="col-xs-6">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}/edit-plan-lodging">
							<span ng-switch-when="INPROGRESS" 
								  class="glyphicon glyphicon-remove"></span>
							<span ng-switch-when="COMPLETE" 
								  class="glyphicon glyphicon-ok"></span>
							Lodging
						</a>
					</li> -->
					<li ng-switch="trip.interests.status" class="col-xs-6">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}/edit-plan-interest">
							<span ng-switch-when="INPROGRESS" 
								  class="glyphicon glyphicon-remove"></span>
							<span ng-switch-when="COMPLETE" 
								  class="glyphicon glyphicon-ok"></span>
							Interests
						</a>
					</li>
					<li ng-switch="trip.route.status" class="col-xs-6">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}/edit-plan-route">
							<span ng-switch-when="INPROGRESS" 
								  class="glyphicon glyphicon-remove"></span>
							<span ng-switch-when="COMPLETE" 
								  class="glyphicon glyphicon-ok"></span>
							Route
						</a>
					</li>
					<li ng-switch="trip.timeline.status" class="col-xs-6">
						<a href="#!/user/{{model.userId}}/trip/{{trip._id}}/edit-plan-timeline">
							<span ng-switch-when="INPROGRESS" 
								  class="glyphicon glyphicon-remove"></span>
							<span ng-switch-when="COMPLETE" 
								  class="glyphicon glyphicon-ok"></span>
							Timeline
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</li>
		</ul>
		<a href="#!/user/{{model.userId}}/trip/new" class="btn btn-primary btn-block">Plan a new trip!</a>
	</section>

	<section class="past">
		<h3 class="past__title">Past Adventures</h3>
		<ul class="past__list list-unstyled"> <!-- ng-repeat="trip in model.tripList" -->
			<li class="trip" ng-repeat="trip in model.trips | filter:{state: 'COMPLETE'}">
				<div class="trip__img"><img src="../../../imgs/bamboo.JPG"></div>
				<div class="trip__copy">
					<h4 class="trip__copy__title">{{trip.name}}</h4>
					<ul class="trip__copy__countries list-unstyled"> <!-- ng-repeat="country in model.countryList" -->
						<li class="trip__copy__countries__item" ng-repeat="country in trip.countries.list">{{country.name}}</li>
					</ul>
					<div class="trip__copy__length">{{model.daysBetween(trip.start, trip.end)}} days</div>
					<!-- <div class="trip__copy__cost">$3,609</div> -->
				</div>
			</li>
		</ul>
	</section>
</div>