<section class="container register">
	<h2 class="register__title">Welcome, Traveler!</h2>
	<p class="register__copy">
		So you're ready to start planning awesome adventures together?  
		Great!  Let’s start by entering your email and creating a password.
	</p>
	<form>
		<label for="email">email</label>
		<input ng-model="user.email" 
        	   name="email" 
        	   id="email" 
        	   type="email" 
        	   placeholder="email" 
        	   class="form-control" />

		<label for="password">password</label>
        <input ng-model="user.password" 
        	   name="password" 
        	   id="password" 
        	   type="password" 
        	   placeholder="password" 
        	   class="form-control" />

		<label for="verify">verify password</label>
        <input ng-model="user.verify" 
        	   name="verify" 
        	   id="verify" 
        	   type="password" 
        	   placeholder="verify password" 
        	   class="form-control" />

        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <button type="submit" class="btn btn-success btn-block">Register</button>
	</form>
</section>