// center position an element

@mixin posCenter($pos, $t, $l) {
	position: $pos;
	@if $t != 0 {
		top: $t;
	}
	@if $l != 0 {
		left: $l;
	}
	transform: translate(-$l, -$t);
	vertical-align: middle;
};

@mixin bgColor($color) {
	top : 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	background-color: $color;
}

@mixin respond-to($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content; }
}