/* Variables */

/* Breakpoints */
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

/* Colors */
$white: #FFFFFF;
$drkGry: #666;
$dirtyBrown: #E2DE9D;
$drkGreen: #204F20;
$drkerGrn: #123812;
$ltePaleGrn: #E5F4E3;
$paleGreen: #6E9E75;
$drkPaleGrn: #638E69;
$red: #D06B6B;