@import "mixins";
@import "var";

/* Components */
@import "components/header";

/* Pages */
@import "pages/search";
@import "pages/login";
@import "pages/register";
@import "pages/profile";
@import "pages/trip-results";
@import "pages/trip-review";
@import "pages/new-plan";
@import "pages/edit-plan-country";
@import "pages/edit-plan-lodging";
@import "pages/edit-plan-route";
@import "pages/edit-plan-interest";
@import "pages/edit-plan-timeline";

body {
	&.bg {
		&--white { background-color: $white; }
		&--dirty-brown { background-color: $dirtyBrown; }
	}
	.bg-img {
		z-index: -1;
		filter: blur(3px) brightness(0.7);
		@include posCenter(fixed, 50%, 50%);
	}
	.btn-primary {
		border-color: $paleGreen;
		background-color: $paleGreen;
		&:hover {
			border-color: $drkPaleGrn;
			background-color: $drkPaleGrn;
		}
	}
	.btn-success {
		border-color: $drkGreen;
		background-color: $drkGreen;
		&:hover {
			border-color: $drkerGrn;
			background-color: $drkerGrn;
		}
	}
	.link-primary {
		color: $drkGreen;
		&:hover {
			color: $drkerGrn;
		}
	}
}
