<li class="route__item">
  <button ng-click="model.addWaypoint($event)" class="btn btn-link route__item__add"><span class="glyphicon glyphicon-plus-sign"></span></button>
  <div class="input-group">
    <span class="input-group-addon" id="from">From</span>
    <span class="input-group-addon" id="to">To</span>
    <input gp-auto ng-model="user.username" 
               name="search" 
               id="search" 
               type="text" 
               placeholder="Search" 
               class="form-control" />
  </div>
  <div class="route__item__dir"></div>

</li>